<div style="padding: 20px;">
    <div *ngIf="!isLoarding">
      <h2>Commande</h2>
      <form [formGroup]="commandeForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Titre</mat-label>
            <input type="text" formControlName="titre"
                  matInput placeholder="titre">
            <mat-error>
              Entrez le titre
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Domaines de rédaction</mat-label>
            <mat-select formControlName="domaine">
              <ng-container *ngFor="let domaine of domaines">
                  <mat-option [value]="domaine.domaine" (click)="getConsigne(domaine._id)">
                    {{domaine.domaine}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>
              Entrez le domaine de rédaction
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Langue</mat-label>
            <mat-select formControlName="langue">
              <mat-option *ngFor="let langue of langues" value="langue">
                {{langue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre de mot</mat-label>
            <input type="number" formControlName="nombredemot"
                  matInput placeholder="nombredemot">
            <mat-error>
              Entrez le nombre de mot
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Qualite du texte</mat-label>
            <mat-select formControlName="qualite">
              <ng-container *ngFor="let qualite of qualites">
                  <mat-option [value]="qualite" *ngIf="qualite.statut == 'actif'">
                    {{qualite.qualite}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>date de livraison</mat-label>
            <input matInput minDate="" formControlName="datelivraison" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <p>
            <i>La date de livraison est une date limite souhaitée à laquelle le travail devrait être rendu.</i>
          </p>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Expression clef du texte</mat-label>
            <mat-chip-list #chipList aria-label="Video keywords">
              <mat-chip
                  *ngFor="let keyword of keywords"
                  [selected]="keyword"
                  [value]="keyword"
                  (removed)="removeKeyword(keyword)">
                {{keyword}}
              </mat-chip>
              <input
                placeholder="Nouvelle expression clef..."
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="addKeywordFromInput($event)">
            </mat-chip-list>
          </mat-form-field>
          <p>
            <i>appuyer sur entrée pour insérer une nouvelle expression.</i>
          </p>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Consigne pour le rédacteur</mat-label>
            <mat-select formControlName="consigne" multiple>
              <ng-container *ngFor="let consigne of consignes">
                  <mat-option [value]="consigne.consigne">
                    {{consigne.consigne}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Url de document joint (maquette rédactionnelle, plan ou dessin pour comprendre... )</mat-label>
            <input type="url" formControlName="piecejoint"
                  matInput placeholder="https://">
          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button color="warn" style="margin-bottom: 20px;">
            Enrégistrez<mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="isLoarding">
      <mat-spinner *ngIf="isLoarding"></mat-spinner>
    </div>
</div>
